body {
}

header {
    background-color: black;
    padding: 20px;
    text-align: left;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: -4px;
    width:40px;
    background-color:black;
}

span {
    text-decoration: none;
    color: black;
}
.block1 {
    background-image: url("../img/page1.png");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}